p {
  color: #ed145b;
}

a:visited {
  color: purple;
}
article h2 {
  font-weight: normal;
  font color: #ed145b;
}

h1 {
  color: yellow;
  text-decoration: underline;
  font-weight: normal;
  font-size: 28px;
}



