body {
  background-color: #222222;
}

header {
  font-family: Courier;
  text-align: center;
  color: yellow;
  font-size: 48px;
  text-decoration: underline;
}

h2 {text-align: center;}

article {
  margin-left: 10px;
  margin-right: 10px;
}
.column-1 {
  background-color: #003366;
    display: inline-block;
    float:left;
    width: 46%;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 2%;
    font-family:roboto;
    color:#EEEEEE;
    border:solid;
}
.column-2 {background-color: #003366;
    display: inline-block;
    float:right;
    width: 46%;
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 2%;
    font-family: roboto;
    color:#EEEEEE;
    border:solid;
}

#nav {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    display: inline;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: space-around;
}

footer {
  position: fixed;
  bottom: 0;
  line-height: 0.5;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin-top: 10px;

}