h1 {
  font-family: Courier;
  text-align: center;
  color: yellow;
  font-size: 48px;
  text-decoration: underline;
}

#nav {
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    display: inline;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: space-around;
}

p {
  color: yellow;
}

h2 {
  color: yellow;
  font-size: 28px;
}

ol {
  color: yellow;
  font-size: 22px;
}
